spring:
  application:
    name: vacation-api
  
  datasource:
    url: jdbc:h2:mem:vacationdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false

server:
  port: 8080

logging:
  level:
    com.vacation.api: DEBUG
    org.springframework.web: INFO

